{# templates/form/team_slector_form.html.twig #}
{% block choice_widget_expanded %}
    <div class="flex gap-8">
        <div class="w-min">
            {% for child in form %}
                {% if child.vars.label|lower ends with 'b' %}
                    <div class="mb-2 flex items-center">
                        <input type="checkbox" {{ block('widget_attributes') }}{% if child.vars.checked %} checked="checked"{% endif %} class="mr-2 h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="{{ child.vars.id }}" class="text-sm ml-2 text-gray-700">{{ child.vars.label }}</label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="w-min">
            {% for child in form %}
                {% if not (child.vars.label|lower ends with 'b') %}
                    <div class="mb-2 flex items-center">
                        <input type="checkbox" {{ block('widget_attributes') }}{% if child.vars.checked %} checked="checked"{% endif %} class="mr-2 h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="{{ child.vars.id }}" class="text-sm ml-2 text-gray-700">{{ child.vars.label }}</label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <button class="inline-flex cursor-pointer items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"            type="submit">
        Update view
    </button>
{% endblock %}