{% extends 'base.html.twig' %}

{% block title %}Hello FixtureController!{% endblock %}

{% block body %}

    <div>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Minis</th>
                <th>U13B</th>
                <th>U14B</th>
                <th>U15B</th>
                <th>U16B</th>
                <th>U18B</th>
                <th>U12G</th>
                <th>U14G</th>
                <th>U16G</th>
                <th>U18G</th>
            </tr>
            {% for fixture in fixtures %}
                <tr>
                    <td>{{ fixture.date|date('j M y') }}</td>
                    <td>{{ fixture.fixture_1 }}</td>
                    <td>{{ fixture.fixture_2 }}</td>
                    <td>{{ fixture.fixture_3 }}</td>
                    <td>{{ fixture.fixture_4 }}</td>
                    <td>{{ fixture.fixture_5 }}</td>
                    <td>{{ fixture.fixture_6 }}</td>
                    <td>{{ fixture.fixture_7 }}</td>
                    <td>{{ fixture.fixture_8 }}</td>
                    <td>{{ fixture.fixture_9 }}</td>
                    <td>{{ fixture.fixture_10 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
