{% extends 'base.html.twig' %}

{% block title %}Fixtures{% endblock %}
{% block page_title %}Fixtures{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>
{% endblock %}

{% block header %}
    <a href="{{ path('app_fixture_new') }}">
        {% include '_shared/blue_button.html.twig' with { 'button_text': 'Create a new Fixture' } %}
    </a>
    <div>
        {% form_theme teamChoseForm 'form/team_slector_form.html.twig' %}
        {{ form_start(teamChoseForm) }}
        {{ form(teamChoseForm) }}
        {{ form_end(teamChoseForm) }}
    </div>
{% endblock %}

{% block body %}
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Date
            </th>
            {% for team in teams %}
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                {{ team | teamName }}
            </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        {# fixtures are in a grid, rows by date, cols by team #}
        {% for date, fixtures_on_date in fixtures %}
            {% if loop.index is even %}
                <tr class="bg-white hover:bg-gray-50">
            {% else %}
                <tr class="bg-gray-50 hover:bg-gray-100">
            {% endif %}
            <td class="px-6 py-4 whitespace-nowrap">{{ date|date('j M y') }}</td>
            {# each col is a different team #}
            {% for fixtures_by_team in fixtures_on_date %}
                <td class="px-6 py-4 whitespace-nowrap">
                    {# each date for a team, may have multiple fixtures #}
                    {% for fixture in fixtures_by_team %}
                        <a href="{{ path('app_fixture_show', {'id': fixture.id}) }}"
                           class="text-indigo-600 hover:text-indigo-900 hover:underline">
                            {{ fixture }}
                        </a>
                    {% endfor %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
