{% extends 'base.html.twig' %}

{% block title %}Fixture index{% endblock %}

{% block body %}
    <h1>Fixture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>HomeAway</th>
                <th>Competition</th>
                <th>Team</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fixture in fixtures %}
            <tr>
                <td>{{ fixture.id }}</td>
                <td>{{ fixture.date ? fixture.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ fixture.homeAway.value }}</td>
                <td>{{ fixture.competition.value }}</td>
                <td>{{ fixture.team | teamName }}</td>
                <td>{{ fixture.name }}</td>
                <td>
                    <a href="{{ path('app_fixture_show', {'id': fixture.id}) }}">show</a>
                    <a href="{{ path('app_fixture_edit', {'id': fixture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fixture_new') }}">Create new</a>
{% endblock %}
