{% extends 'base.html.twig' %}

{% block title %}All{% endblock %}

{% block body %}
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-primary text-2xl font-bold">Fixtures for {{ "now"|date('Y') }}/{{ ("now"|date('y')) + 1 }}</h1>
        {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_fixture_new') }}" class="bg-accent hover:bg-accent-dark text-white font-bold py-2 px-4 rounded flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                      clip-rule="evenodd"/>
            </svg>
            Create New
        </a>
        {% endif %}
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white rounded-lg overflow-hidden">
            <thead class="bg-tertiary text-white">
            <tr>
                <th class="py-3 px-4 text-left">
                    Date
                </th>
                {% for team in teams %}
                    <th class="py-3 px-4 text-left underline">
                        <a href="{{ path('app_fixture_index') }}?team={{ team.value }}">
                            {{ team.value }}
                        </a>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            {% for date, fixtures_on_date in fixtures %}
                <tr class="hover:bg-gray-50 {{ loop.index is even ? 'bg-gray-50' : '' }}">
                    <td class="py-3 px-4 whitespace-nowrap underline">
                        <a href="{{ path('app_fixture_byDate', parameters = {date: date|date('Ymd')}) }}">
                            {{ date|date('j M y') }}
                        </a>
                    </td>
                    {# each col is a different team #}
                    {% for fixtures_by_team in fixtures_on_date %}
                        <td class="py-3 px-4">
                            {# each date for a team, may have multiple fixtures #}
                            {% for fixture in fixtures_by_team %}
                                <a href="{{ path('app_fixture_show', {'id': fixture.id}) }}"
                                   class="text-indigo-600 hover:text-indigo-900 hover:underline">
                                    {{ fixture }}
                                </a>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
