{% extends 'base.html.twig' %}

{% block title %}Fixture{% endblock %}

{% block body %}
    <h1>Fixture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fixture.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ fixture.date ? fixture.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HomeAway</th>
                <td>{{ fixture.homeAway }}</td>
            </tr>
            <tr>
                <th>Competition</th>
                <td>{{ fixture.competition }}</td>
            </tr>
            <tr>
                <th>Team</th>
                <td>{{ fixture.team }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ fixture.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fixture_index') }}">back to list</a>

    <a href="{{ path('app_fixture_edit', {'id': fixture.id}) }}">edit</a>

    {{ include('fixture/_delete_form.html.twig') }}
{% endblock %}
