{% extends 'base.html.twig' %}

{% block title %}All Clubs{% endblock %}

{% block body %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-primary text-2xl font-bold">Clubs</h1>
    {% if app.user is not null and 'ROLE_EDITOR' in app.user.roles %}
        <a href="{{ path('app_club_new') }}"
           class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                      clip-rule="evenodd"></path>
            </svg>
            Create New
        </a>
    {% endif %}
</div>

<div class="overflow-x-auto">
    <table class="bg-white rounded-lg overflow-hidden">
        <thead class="bg-tertiary text-white">
        <tr>
            <th class="py-3 px-4 text-left">
                Name
            </th>
            <th class="py-3 px-4 text-left">
                Address
            </th>
            {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
            <th class="py-3 px-4 text-center">
                Edit
            </th>
            <th class="py-3 px-4 text-center">
                Delete
            </th>
            {% endif %}
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
        {% for club in clubs %}
            <tr class="hover:bg-gray-50 {{ loop.index is even ? 'bg-gray-50' : '' }}">
            <td class="py-3 px-4 whitespace-nowrap">
                <a href="{{ path('app_club_show', {'id': club.id}) }}"
                   class="text-indigo-600 hover:text-indigo-900 hover:underline">
                    {{ club.name }}
                </a>
            </td>
            <td class="py-3 px-4 whitespace-nowrap">
                {% if club.address %}
                    {{ club.address }}
                    <a href="https://www.google.com/maps/search/?api=1&query={{ club.address | url_encode }}" target='_blank' class="text-indigo-600 hover:text-indigo-900 hover:underline">
                        ↗️
                    </a>
                {% endif %}
            </td>
            {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
            <td class="py-3 px-4 whitespace-nowrap text-center">
                <a href="{{ path('app_club_edit', {'id': club.id}) }}"
                   class="text-gray-600 hover:text-gray-900 hover:bg-gray-100 p-1 rounded-md" title="Edit">✎</a>
            </td>
            <td class="py-3 px-4 whitespace-nowrap text-gray-500 text-center">
                {{ include('club/_delete_form.html.twig') }}
            </td>
            {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="py-3 px-4 whitespace-nowrap text-gray-500 text-center">No records found</td>
            </tr>

            {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
            <tr>
                <td colspan="3" class="py-3 px-4 whitespace-nowrap text-gray-500 text-center">
                    <a class="
                        inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium
                        rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2
                        focus:ring-offset-2 focus:ring-indigo-500"
                       href="{{ path('admin_clubs_initialise') }}">
                        Initialise Clubs
                    </a>
                </td>
            </tr>
            {% endif %}

        {% endfor %}
        </tbody>
    </table>

    {% endblock %}

